$white: #fff;
$light-grey: #c4cbd4;
$light-blue: #f7faff;
$blue: #46b5ff;
$blue2: #0a94f0;
$navy: #1d4273;
$navy-blue: #1f095f;
$dark-navy: #17162d;
$blue-gradient-solid: linear-gradient(150deg, #1e4c87, #0e204b, #0e1a37);