@media (min-width: 576px) {


    .logo {
        top: 2.5em;
        left: 2em;
        width: 190px;
    }

    .hamburger {
        top: 2.5em;
        right: 2em;
}


.head {

	&__img {
        background-size: 100%;
        top: -830px;
	}
}

.nav {
	&-mobile {
		padding-left: 14rem;

    }
}







}